/*цвет основного текста #212121*/
/*цвет вторичного текста #757575*/
/*цвет основного фона #FFFFFF*/
/*цвет вторичного фона #F5F4FA*/
/*цвет футера и полосы кнопки #2F303A*/ 
/*акцент #2196F3*/ 
/*второй акцент #188CE8*/
/*футер текст  rgba(255, 255, 255, 0.6)*/
/*цвет фона карточек 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2)*/

:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --logo-text-color: #000000;
    --accent-color: #2196F3;
    --second-accent-color: #188CE8;
    --white-title-color: #FFFFFF;
    --second-title-color: #F5F4FA;
    --footer-accent-color: #2F303A;
    --foter-text-color: rgba(255, 255, 255, 0.6);
    --header-border: #ECECEC;
    --card-set-gap: 30px;
    --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --card-border: #EEEEEE;
    --card-width: 370px;
    --icon-color: #AFB1B8;
    --back-work-color: rgba(47, 48, 58, 0.8);
    --time-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    margin: 0;
    background-color: var(--white-title-color);
    color: var(--primary-text-color);
}
a {
    text-decoration: none;
 }
ul {
    list-style: none;
}
h1,
h2,
h3,
p,
ul {
    margin: 0;

}
img {
    display: block;
}

/*Контейнер*/
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
 
/*Лого*/
.logo {
    color: var(--logo-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.web-logo {
    color: var(--accent-color);
}

/*Фильтр*/

.nav-link {
    color: var(--primary-text-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 32px 0;
    display: block;

    position: relative;

    transition: color var(--time-function);
}
.nav-links {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.nav-links :hover,
.nav-links :focus,
.nav-links .current {
    color: var(--accent-color);
}

.nav-link::after{
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
    background-color: var(--accent-color);
    opacity: 0;

    transition: opacity var(--time-function);

}

.nav-link.current::after {
    display: block;
    opacity: 1;
}
.nav-links:active { 
    color: var(--white-title-color);
    background-color: var(--accent-color);  
}
.business-button {
    border-radius: 4px;
    border: transparent;
    padding: 10px 32px;
    color: var(--white-title-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    border: none;

    transition: background-color var(--time-function);
}

.business-button:hover,
.business-button:focus {
    background-color: var(--second-accent-color);
    
}


/*Подвал и Шапка*/
.section-header {
    border-bottom: 1px solid var(--header-border);

}
.section-header .container {
    display: flex;
    align-items: center;
}
.nav,
.nav-links,
.contact {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 93px;
}

.link-card:not(:last-child) {
    margin-right: 50px;
}
.contact {
    padding: 0;
    margin: 0;
    margin-left: auto;
}
.contact-link:not(:last-child) {
    margin-right: 50px;
}
.contact a {
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;

    transition: color var(--time-function);
}

.contact a:hover,
.contact a:focus {
    color: var(--accent-color);
    
}

 
/*Линия с кнопкой*/
.business-title {
    margin-bottom: 30px;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    color: var(--white-title-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;  
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.section-business {
    background-color: var(--footer-accent-color);
    text-align: center;
    padding: 200px 0;
}

.section-business {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img6.jpg);  
}
/*Особенности*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.offer-title {
    color: var(--logo-text-color);
}

.section-special {
    padding: 94px 0 0;
}
.special {
    padding: 0;
    display: flex;
}
.spesial-card:not(:last-child) {
    margin-right: var(--card-set-gap);
}
.spesial-card {
    width: 270px;   
}
.special .special-title {
    margin: 0 0 10px;
}
.special-title {
    color: var(--primary-text-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}
.special-text {
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

/*Герой*/
.button-primary {
    border-radius: 4px;
    border: transparent;
    padding: 6px 22px;
    color: var(--primary-text-color);
    background-color: var(--second-title-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;

    transition: background-color var(--time-function),
    color var(--time-function),
    box-shadow var(--time-function);

} 
.button-primary:focus,
.button-primary:hover,
.button-primary:active {
    color: var(--white-title-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);  
}

.section { 
    padding: 94px 0;
}
.button {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    padding: 0;

}

.section-button:not(:last-child) {
    margin-right: 8px;
}

.gero-set {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}
.card-content {
    padding: 20px 24px;
    border-bottom: 1px solid var(--card-border);
    border-left: 1px solid var(--card-border);
    border-right: 1px solid var(--card-border);
}
.gero-card {
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
    
}
.gero-thumb {
    position: relative;
    overflow: hidden;
}
.gero-link:hover .gero-text {
    opacity: 1;
    transform: translateY(0);
}

.gero-text {
    position: absolute;
    top: 0;
    opacity: 0;
    bottom: 0;
    padding: 63px 24px;
    display: inline-block;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--white-title-color);
    background-color: rgba(33, 150, 243, 0.9);
    
    transform: translateY(100%);
    transition: transform var(--time-function);
    overflow: hidden;
}
.gero-link {
    display: block;

    transition: box-shadow var(--time-function);
}
.gero-link:focus,
.gero-link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    
}
.section-title {
    margin-bottom: 4px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.section-text {
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
}
/*Чем мы занимаемся*/
.work-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}
.section-work {
    padding: 94px 0;
}

.work-thumb {
    display: flex;
    padding-left: 0;
}
.work-card:not(:last-child) {
    margin-right: var(--card-set-gap);
}
.work-card {
    width: 370px;
    
}
/*Наша команда*/
.team-set {
    display: flex;
    padding-left: 0;
}
.team-card:not(:last-child) {
    margin-right: var(--card-set-gap);
}
.section-team {
    background-color: var(--second-title-color);
    padding: 94px 0;
}
.team-card {
    width: 270px;
    box-shadow: var(--card-shadow);
    border-radius: 0px 0px 4px 4px;
}

.team-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}
.team-name {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team-position {
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    margin-top: 10px;
    text-align: center;
}
.team-content {
    background-color: var(--white-title-color);
    padding: 30px;
}
/*Постоянные клиенты*/
.section-client {
    padding: 94px 0;
}
.client-list {
    display: flex;
    padding-left: 0;
}

.client-icon:not(:last-child) {
    margin-right: 30px;
}
.client-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
    
}
/*Подвал*/
.address {
    color: var(--white-title-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 9px;
}

.address-contact a {
    color: var(--foter-text-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
}
.address-contact {
    padding: 0;
}
.section-footer {
    background-color: var(--footer-accent-color);
    padding: 60px 0;
}
.address-link:not(:last-child) {
    margin-bottom: 9px;
}
.footer-logo {
    color: var(--white-title-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-bottom: 20px;
    display: block;
}
.send {
    margin-left: 10px;
    
}
.footer-thumb {
    display: flex;
}
.footer-button {
    width: 200px;
    height: 50px;
    margin-left: 12px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    
    background-color: var(--accent-color);
    color: var(--white-title-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: var(--time-function);
}
.footer-button:hover {
    background-color: var(--second-accent-color);
}
.footer-mail {
    width: 358px;
    height: 50px;
    margin-top: 20px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: var(--footer-accent-color);
    color: var(--white-title-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
}
/*Icon*/
.special-icon {
    width: 270px;
    height: 120px;
    background-color: var(--second-title-color);
    padding: 0px;
    margin-bottom: 30px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-link:hover .envelope,
.contact-link:focus .envelope {
    fill: var(--accent-color);
}
.contact-link:hover .smartphone,
.contact-link:focus .smartphone {
    fill: var(--accent-color);
}
.envelope {
    padding: 0;
    margin-right: 10px;
    cursor: pointer;
    fill: var(--title-text-color);
    
    transition: fill var(--time-function);
}
.smartphone {
    padding: 0;
    margin-right: 10px;
    cursor: pointer;
    fill: var(--title-text-color);
    
    transition: fill var(--time-function);
}

.team-icon {
    display: flex;
    padding: 0;
    margin-top: 16px;
}
.icon-set {
    width: 44px;
    height: 44px;
    
    display: flex;
    border-radius: 50%;
    
    transition: background-color var(--time-function);
}
.social-icon {
    width: 44px;
    height: 44px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.icon-set:not(:last-child) {
    margin-right: 10px;
}
.icon-set:focus, 
.icon-set:hover {
    background-color: var(--accent-color);
    
}
.instagram, .twitter, .facebook, .linkedin,
.Logo1, .Logo2, .Logo3, .Logo4, .Logo5, .Logo6 {
    fill: var(--icon-color);
    
}

.icon-set:focus svg,
.icon-set:hover svg {
    fill: var(--white-title-color);
    
}
.icon-set svg {
    transition: fill var(--time-function);
}
.client-icon {
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    width: 270px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;

    transition: border-color var(--time-function);
}
.link-client-icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-icon:hover,
.client-icon:focus {
    border-color: var(--accent-color);
    
}
.client-icon:focus svg,
.client-icon:hover svg {
    fill: var(--accent-color);
    
}
.client-icon svg {
    transition: fill var(--time-function);
}
.section-footer .container{
    display: flex;
    align-items: baseline;
}
.footer-bloc {
    padding: 0;
    margin-left: 70px;
}
.footer-title {
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--white-title-color);
}
.footer-icon {
    display: flex;
    padding: 0;
    margin-top: 20px;
}

.footer-social {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.1);;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;

    transition: background-color var(--time-function);
    
}
.social-icon-footer {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-social:not(:last-child) {
    margin-right: 10px;
}
.footer-social:hover,
.footer-social:focus {
    background-color: var(--accent-color);
    
}
.social-icon-footer svg {
    fill: var(--white-title-color);
}
.work-bloc {
    position: relative;

}
.work-text {
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 70px;
    width: 370px;

    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-title-color);
    background-color: var(--back-work-color);
}
/*Модальное окно*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity var(--time-function),
    visibility var(--time-function);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.backdrop.is-hidden .modal {
    transform: translate(-50px, -50px) scale(1.2);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--time-function);
    width: 528px;
    height: 581px;
    
    background-color: var(--white-title-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.button-close {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    margin-left: 490px;
    margin-top: 8px;
    align-items: center;

    background-color: var(--white-title-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    cursor: pointer;

    transition: fill var(--time-function),
    visibility var(--time-function);
}
.button-close:focus,
.button-close:hover {
    fill: #2196F3;
}
.modal-title {
    margin-bottom: 12px;
    padding: 2px 40px 0px 40px;

    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}
.form-bloc {
    width: 448px;
    height: 342px;
    margin-left: 40px;
    
    display: inline-block;
}
.form-field {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.form-input {
    
    height: 40px;
    margin-top: 18px;
    padding: 11px 12px 11px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font: inherit;
    outline: none;

    transition: border-color var(--time-function);
}    

.form-label {
    position: absolute;
    
    margin-bottom: 4px;
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;

    letter-spacing: 0.01em;

    color: #757575;
    transition: color var(--time-function);
}
.comment {
    position: relative;
    height: 120px;
    padding: 12px 16px;
    margin-top: 18px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    transition: border-color var(--time-function);
}
.comment:focus + .form-label {
    color: var(--accent-color);
}
.comment:focus {
    border-color: var(--accent-color);
}
.comment::placeholder {
    

    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}
.form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    display: inline-block;
    transition: fill var(--time-function);
}

.link-contract {

    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: underline;
    color: var(--accent-color);

}
.form-policy {
    
    display: flex;
    align-items: center;
    
    margin: 0;
    
}


.form-policy:focus-within .check{
    opacity: 1;
    
}
.form-policy:focus-within .checkbox-icon{
    opacity: 0;
    
}
.check {
    position: absolute;
    opacity: 0;
    
    margin-left: 13px;
    

    transition: opacity var(--time-function);
}

.checkbox {
     appearance: none;
}

.checkbox-icon {
    
    
    width: 16px;
    height: 15px;
    margin-left: 13px;
    
    border: 2px solid var(--primary-text-color);
}
.policy {
    margin-left: 8px;
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: #757575;
}
.form-input:focus + .form-label {
    color: var(--accent-color);

}
.form-input:focus {
    border-color: var(--accent-color);
}
.form-input:focus ~ .form-icon {
    fill: var(--accent-color);
}
.modal-button {
    
    margin-top: 30px;
    margin-left: 124px;
    border-radius: 4px;
    border: transparent;
    padding: 10px 55px 10px 56px;
    color: var(--white-title-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    border: none;

    transition: background-color var(--time-function);

}

.modal-button:hover,
.modal-button:focus {
    background-color: var(--second-accent-color);
    
}

