/*цвет основного текста #212121*/
/*цвет вторичного текста #757575*/
/*цвет основного фона #FFFFFF*/
/*цвет вторичного фона #F5F4FA*/
/*цвет футера и полосы кнопки #2F303A*/ 
/*акцент #2196F3*/
/*второй акцент #188CE8*/

:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --logo-text-color: #000000;
    --accent-color: #2196F3;
    --second-accent-color: #188CE8;
    --white-title-color: #FFFFFF;
    --second-title-color: #F5F4FA;
    --footer-accent-color: #2F303A;
}

body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    background-color: var(--white-title-color);
    color: var(--primary-text-color);
}
/*Шапка*/
 a {
    text-decoration: none;
 }
 ul {
    list-style: none;
}
/*Лого*/
.logo {
    color: var(--logo-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.web-logo {
    color: var(--accent-color);
}
.footer-logo {
    color: var(--white-title-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
/*Фильтр*/
.button-primary {
    color: var(--primary-text-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}
.nav-link {
    color: var(--primary-text-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav-links :active { 
    color: var(--white-title-color);
    background-color: var(--accent-color);
    
}
.business-button {
    color: var(--white-title-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
}
.business-button:hover {
    color: var(--white-title-color);
    background-color: var(--second-accent-color);
}
.button-primary:focus {
    color: var(--white-title-color);
    background-color: var(--accent-color);
}
.button-primary:hover {
    color: var(--white-title-color);
    background-color: var(--accent-color);
}
 
.button-primary :active{
    color: var(--white-title-color);
    background-color: var(--accent-color);
} 
/*Подвал и Шапка*/
.contact, a {
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contact :hover {
    color: var(--accent-color);
}
.nav-links :hover {
    color: var(--accent-color);
}
.contact :focus {
    color: var(--accent-color);
}
.nav-links :focus {
    color: var(--accent-color);
}
.nav-links .current {
    color: var(--accent-color);
}
/*Линия с кнопкой*/
.business-title {
    color: var(--white-title-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;  
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.section-business {
    background-color: var(--footer-accent-color);
    text-align: center;
}
/*Особенности*/
.special-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}
.special-text {
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}
/*Герой*/
.section-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

}
.section-text {
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
}
/*Чем мы занимаемся*/
.work-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
/*Наша команда*/
.team-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.team-name {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.team-position {
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
}
/*подвал*/
.address {
    color: var(--white-title-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}
.footer {
    background-color: var(--footer-accent-color);
}



