/*цвет основного текста #212121*/
/*цвет вторичного текста #757575*/
/*цвет основного фона #FFFFFF*/
/*цвет вторичного фона #F5F4FA*/
/*цвет футера и полосы кнопки #2F303A*/ 
/*акцент #2196F3*/ 
/*второй акцент #188CE8*/
/*футер текст  rgba(255, 255, 255, 0.6)*/
/*цвет фона карточек 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2)*/

:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --logo-text-color: #000000;
    --accent-color: #2196F3;
    --second-accent-color: #188CE8;
    --white-title-color: #FFFFFF;
    --second-title-color: #F5F4FA;
    --footer-accent-color: #2F303A;
    --foter-text-color: rgba(255, 255, 255, 0.6);
    --header-border: #ECECEC;
    --card-set-gap: 30px;
    --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --card-border: #EEEEEE;
    --card-width: 370px;
    --icon-color: #AFB1B8;
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    margin: 0;
    background-color: var(--white-title-color);
    color: var(--primary-text-color);
}
a {
    text-decoration: none;
 }
ul {
    list-style: none;
}
h1,
h2,
h3,
p,
ul {
    margin: 0;

}
img {
    display: block;
}

/*Контейнер*/
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
 
/*Лого*/
.logo {
    color: var(--logo-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.web-logo {
    color: var(--accent-color);
}

/*Фильтр*/

.nav-link {
    color: var(--primary-text-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 32px 0;
    display: block;
}
.nav-links {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.nav-links:active { 
    color: var(--white-title-color);
    background-color: var(--accent-color);  
}
.business-button {
    border-radius: 4px;
    border: transparent;
    padding: 10px 32px;
    color: var(--white-title-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    border: none;
}

.business-button:hover,
.business-button:focus {
    background-color: var(--second-accent-color);
}


/*Подвал и Шапка*/
.section-header {
    border-bottom: 1px solid var(--header-border);

}
.section-header .container {
    display: flex;
    align-items: center;
}
.nav,
.nav-links,
.contact {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 93px;
}

.link-card:not(:last-child) {
    margin-right: 50px;
}
.contact {
    padding: 0;
    margin: 0;
    margin-left: auto;
}
.contact-link:not(:last-child) {
    margin-right: 50px;
}
.contact a {
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
}

.contact a:hover,
.contact a:focus {
    color: var(--accent-color);
}
.nav-links :hover,
.nav-links :focus,
.nav-links .current {
    color: var(--accent-color);
}
 
/*Линия с кнопкой*/
.business-title {
    margin-bottom: 30px;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    color: var(--white-title-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;  
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.section-business {
    background-color: var(--footer-accent-color);
    text-align: center;
    padding: 200px 0;
}

.section-business {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img6.jpg);  
}
/*Особенности*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.offer-title {
    color: var(--logo-text-color);
}

.section-special {
    padding: 94px 0 0;
}
.special {
    padding: 0;
    display: flex;
}
.spesial-card:not(:last-child) {
    margin-right: var(--card-set-gap);
}
.spesial-card {
    width: 270px;   
}
.special .special-title {
    margin: 0 0 10px;
}
.special-title {
    color: var(--primary-text-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}
.special-text {
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

/*Герой*/
.button-primary {
    border-radius: 4px;
    border: transparent;
    padding: 6px 22px;
    color: var(--primary-text-color);
    background-color: var(--second-title-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;

} 
.button-primary:focus,
.button-primary:hover,
.button-primary:active {
    color: var(--white-title-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); 
}
.section { 
    padding: 94px 0;
}
.button {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    padding: 0;

}

.section-button:not(:last-child) {
    margin-right: 8px;
}

.gero-set {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}
.card-content {
    padding: 20px 24px;
    border-bottom: 1px solid var(--card-border);
    border-left: 1px solid var(--card-border);
    border-right: 1px solid var(--card-border);
}
.gero-card {
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
    
}
.gero-link {
    display: block;
}
.gero-link:focus,
.gero-link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.section-title {
    margin-bottom: 4px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.section-text {
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
}
/*Чем мы занимаемся*/
.work-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}
.section-work {
    padding: 94px 0;
}

.work-thumb {
    display: flex;
    padding-left: 0;
}
.work-card:not(:last-child) {
    margin-right: var(--card-set-gap);
}
.work-card {
    width: 370px;
    
}
/*Наша команда*/
.team-set {
    display: flex;
    padding-left: 0;
}
.team-card:not(:last-child) {
    margin-right: var(--card-set-gap);
}
.section-team {
    background-color: var(--second-title-color);
    padding: 94px 0;
}
.team-card {
    width: 270px;
    box-shadow: var(--card-shadow);
    border-radius: 0px 0px 4px 4px;
}

.team-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}
.team-name {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team-position {
    color: var(--title-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    margin-top: 10px;
    text-align: center;
}
.team-content {
    background-color: var(--white-title-color);
    padding: 30px;
}
/*Постоянные клиенты*/
.section-client {
    padding: 94px 0;
}
.client-list {
    display: flex;
    padding-left: 0;
}

.client-icon:not(:last-child) {
    margin-right: 30px;
}
.client-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
    
}
/*Подвал*/
.address {
    color: var(--white-title-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 9px;
}

.address-contact a {
    color: var(--foter-text-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
}
.address-contact {
    padding: 0;
}
.section-footer {
    background-color: var(--footer-accent-color);
    padding: 60px 0;
}
.address-link:not(:last-child) {
    margin-bottom: 9px;
}
.footer-logo {
    color: var(--white-title-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-bottom: 20px;
    display: block;
}
/*Icon*/
.special-icon {
    width: 270px;
    height: 120px;
    background-color: var(--second-title-color);
    padding: 0px;
    margin-bottom: 30px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-link:hover .envelope,
.contact-link:focus .envelope {
    fill: var(--accent-color); 
}
.contact-link:hover .smartphone,
.contact-link:focus .smartphone {
    fill: var(--accent-color);
    
}
.envelope {
    padding: 0;
    margin-right: 10px;
    cursor: pointer;
    fill: var(--title-text-color);
    
}
.smartphone {
    padding: 0;
    margin-right: 10px;
    cursor: pointer;
    fill: var(--title-text-color);
    
}

.team-icon {
    display: flex;
    padding: 0;
    margin-top: 16px;
}
.icon-set {
    width: 44px;
    height: 44px;
    
    display: flex;
    border-radius: 50%;
}
.social-icon {
    width: 44px;
    height: 44px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.icon-set:not(:last-child) {
    margin-right: 10px;
}
.icon-set:focus, 
.icon-set:hover {
    background-color: var(--accent-color);
}
.instagram, .twitter, .facebook, .linkedin,
.Logo1, .Logo2, .Logo3, .Logo4, .Logo5, .Logo6 {
    fill: var(--icon-color);
}

.icon-set:focus svg,
.icon-set:hover svg {
    fill: var(--white-title-color);
}
.client-icon {
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    width: 270px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}
.link-client-icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-icon:hover,
.client-icon:focus {
    border-color: var(--accent-color);
}
.client-icon:focus svg,
.client-icon:hover svg {
    fill: var(--accent-color);
}
.section-footer .container{
    display: flex;
    align-items: baseline;
}
.footer-bloc {
    padding: 0;
    margin-left: 70px;
}
.footer-title {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--white-title-color);
}
.footer-icon {
    display: flex;
    padding: 0;
    margin-top: 20px;
}

.footer-social {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.1);;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    
}
.social-icon-footer {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-social:not(:last-child) {
    margin-right: 10px;
}
.footer-social:hover,
.footer-social:focus {
    background-color: var(--accent-color);
}
.social-icon-footer svg {
    fill: var(--white-title-color);
}