@import './utils/variables';
@import './components/footer-address';
@import './components/footer';
@import './components/gero-button';
@import './components/global';
@import './components/header-contact';
@import './components/header-nav';
@import './components/logo';
@import './components/modal';
@import './components/section-business';
@import './components/section-client';
@import './components/section-gero';
@import './components/section-special';
@import './components/section-team';
@import './components/section-work';
