.header-nav__link {
    position: relative;

    color: $primary-text-color;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 32px 0;
    display: block;

    transition: color $time-function;
    &:hover,
    &:focus,
    &.header-nav-link__current {
    color: $accent-color;
    }
    
}
.header-nav {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

}

.header-nav-link__current::after{
    position: absolute;
    opacity: 0;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -1px;
    background-color: $accent-color;

    transition: opacity $time-function;
    
}
.header-nav-link__current::after {
    display: block;
    opacity: 1;
    
}
.section-header {
    border-bottom: 1px solid $header-border;

}
.section-header .container {
    display: flex;
    align-items: center;
}

.nav,
.header-nav,
.header-contact {
    display: flex;
    align-items: center;
}

.header-nav__item:not(:last-child) {
    margin-right: 50px;
}