.logo {
    margin-right: 93px;
    color: $logo-text-color;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.web-logo {
    color: $accent-color;
}