
.section-title__visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    color: $logo-text-color;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.special-set {
    padding: 0;
}
   
.special-set__item:not(:last-child) {
    margin-bottom: $card-set-gap;
}

.special-set__title {
    margin: 0 0 10px;

    color: $primary-text-color;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
}
.special-set__text {
    color: $title-text-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

.special-set__icon {

    height: 120px;
    background-color: $second-title-color;
    padding: 0px;
    margin-bottom: 30px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
@media screen and (min-width: 768px) {
    .special-set {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .special-set__item:not(:last-child) {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    .special-set {
        grid-template-columns: repeat(4, 1fr);
    }
    .section-not__padding-bottom {
        padding-bottom: 0;
    }
}