.section-background {
    background-color: $second-title-color;

    @media screen and (min-width: $mobile) {
        width: $mobile;
    }
}
.team-set {
    padding-left: 0;
}

.section__title {
    color: $primary-text-color;
    font-weight: 700;
    font-size: 28px;
    line-height: 0.8;
    text-align: center;
    margin-bottom: 50px;
}


.team-set__item {
    width: 450px;
    box-shadow: $card-shadow;
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
        margin-bottom: $card-set-gap;
    }
}
.team-set__box {
    background-color: $white-title-color;
    padding: 30px;
}

.team-set__title {
    color: $primary-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 0.8;
    text-align: center;
}
.team-set__text {
    color: $title-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 0.8;
    margin-top: 10px;
    text-align: center;
}


.social {
    display: flex;
    padding: 0;
    margin-top: 16px;
    justify-content: center;
    align-items: center;
}
.social__item {
    width: 44px;
    height: 44px;
    
    display: flex;
    border-radius: 50%;
    
    transition: background-color $time-function;

    &:not(:last-child) {
        margin-right: 10px;
    }
    &:focus, 
    &:hover {
        background-color: $accent-color;
        
    }
}
.social__link {
    width: 44px;
    height: 44px;
    display: flex; 
    justify-content: center; 
    align-items: center;

    &:focus .social__icon,
    &:hover .social__icon {
    fill: $white-title-color;
    }
    
}
.social__icon {
    fill: $icon-color;
    transition: fill $time-function;
}





