.gero-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}

.gero-list__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
    
}

.gero-list__link {
    display: block;

    transition: box-shadow $time-function;

    &:focus,
    &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}


.gero-list__link:hover .gero-list__text {
    opacity: 1;
    transform: translateY(0);
}

.gero-list__thumb {
    position: relative;
    overflow: hidden;
}

.gero-list__text {
    position: absolute;
    top: 0;
    opacity: 0;
    bottom: 0;
    padding: 63px 24px;
    display: inline-block;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: $white-title-color;
    background-color: rgba(33, 150, 243, 0.9);
    
    transform: translateY(100%);
    transition: transform $time-function;
    overflow: hidden;
}

.gero-content {
    padding: 20px 24px;
    border-bottom: 1px solid $card-border;
    border-left: 1px solid $card-border;
    border-right: 1px solid $card-border;
}

.gero-content__title {
    margin-bottom: 4px;
    color: $primary-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.gero-content__text {
    color: $title-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
}