.section-business {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;

    background-color: $footer-accent-color;
    text-align: center;
    padding: 118px 0;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img6.jpg);  
}

.section-business__title {
    margin-bottom: 30px;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    color: $white-title-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;  
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.section-business__button {
    border-radius: 4px;
    border: transparent;
    padding: 10px 32px;
    color: $white-title-color;
    background-color: $accent-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    border: none;

    transition: background-color $time-function;

    &:hover,
    &:focus {
    background-color: $second-accent-color;
    }
}





