    $primary-text-color: #212121;
    $title-text-color: #757575;
    $logo-text-color: #000000;
    $accent-color: #2196F3;
    $second-accent-color: #188CE8;
    $white-title-color: #FFFFFF;
    $second-title-color: #F5F4FA;
    $footer-accent-color: #2F303A;
    $foter-text-color: rgba(255, 255, 255, 0.6);
    $header-border: #ECECEC;
    $card-set-gap: 30px;
    $card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    $card-border: #EEEEEE;
    $card-width: 370px;
    $icon-color: #AFB1B8;
    $back-work-color: rgba(47, 48, 58, 0.8);
    $time-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);